<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music player</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/assets/img/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/assets/style/style.css" />
    <link
      rel="stylesheet"
      href="../static/assets/font/themify-icons/themify-icons.css"
    />
  </head>
  <body>
    <div class="app">
      <div class="player">
        <nav class="navbar">
            <div class="user-avatar">
                <i class="ti-user"></i>
                <!-- <img class="user-img" src="" alt="user-avatar"> -->
            </div>
            <div class="navbar-list">
                <div class="navbar-item"><i class="ti-home"></i></div>
                <div class="navbar-item"><i class="ti-search"></i></div>
                <div class="navbar-item">Đăng ký</div>
                <div class="navbar-item">Đăng nhập</div>
                <div class="navbar-item"></div>
                <div class="navbar-item"></div>
                <div class="navbar-item"></div>
            </div>
            <div class="setting">
                <i class="ti-settings"></i>
            </div>
          </ul>
        </nav>
        <div class="card">
          <div></div>
          <!-- Dashboard -->
          <div class="dashboard">
            <!-- Header -->
            <header>
              <h4>Đang phát:</h4>
              <h2>String 57th & 9th</h2>
            </header>

            <!-- CD -->
            <div class="cd">
              <div
                class="cd-thumb"
                style="
                  background-image: url('https://i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg');
                "
              ></div>
            </div>

            <!-- Control -->
            <div class="control">
              <div class="btn btn-repeat active">
                <i class="fas fa-redo"></i>
              </div>
              <div class="btn btn-prev">
                <i class="fas fa-step-backward"></i>
              </div>
              <div class="btn btn-toggle-play">
                <i class="fas fa-pause icon-pause"></i>
                <i class="fas fa-play icon-play"></i>
              </div>
              <div class="btn btn-next">
                <i class="fas fa-step-forward"></i>
              </div>
              <div class="btn btn-random">
                <i class="fas fa-random"></i>
              </div>
            </div>

            <!-- Progress Bar -->
            <div class="progressRange">
                <input
                  id="progress"
                  class="progress"
                  type="range"
                  value="0"
                  step="1"
                  min="0"
                  max="100"
                />
            <!-- <div class="time">
                        <span class="startTime">0:00</span>
                        <span class="endTime"></span>
                    </div> -->
            <!-- </div> -->

            <!-- Volume Bar -->
            <!-- <div class="volumeBar">
                    <div class="btn btn-volume ti-volume"></div>
                    <input type="range" id="volume" class="volume" min="0" max="100" value="0" step="1">
                </div> -->

            <audio id="audio" src=""></audio>
          </div>
        </div>
        <div class="home">
          <!-- Playlist -->
          <div class="playlist"></div>
  
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='app.js') }}"
    ></script>
  </body>
</html>
